# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=postgresql://postgres.duerdiqaargdfalwgeod:T0tuBJMi8y1Rd0Jz@aws-1-us-west-1.pooler.supabase.com:5432/postgres
POSTGRES_PRISMA_URL=postgresql://postgres.duerdiqaargdfalwgeod:T0tuBJMi8y1Rd0Jz@aws-1-us-west-1.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=1
POSTGRES_URL_NON_POOLING=postgresql://postgres:T0tuBJMi8y1Rd0Jz@db.duerdiqaargdfalwgeod.supabase.co:5432/postgres
POSTGRES_USER=postgres.duerdiqaargdfalwgeod
POSTGRES_HOST=aws-1-us-west-1.pooler.supabase.com
POSTGRES_PASSWORD=T0tuBJMi8y1Rd0Jz
POSTGRES_DATABASE=postgres

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth